@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(219 234 254);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-mdc-form-field .mdc-notched-outline__notch {
    border-right: 0px !important;
}